body{
	margin:0;
	padding:0;
	text-align: left;
}

*{
	box-sizing:border-box;
}

.none{
	display:none;
}

.container{
	float:left;
	width:100%;
}

.wrapper{
	display: none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(70, 132, 238, 1);
	text-align: center;
}

/* ------------- Sidebar --------------- */

.topbar{
	float:left;
	width:100%;
	height: 60px;
	background-color: #333;

}


.top-buttons-container{
	float: right;
    text-align: center;
    width: calc(100% - 100px);
    margin-top: 12px;
}


/* ------------- Pages --------------*/


.page{
	display: none;
}

.page.home{
	display: block;
}


/* ------------- Loader --------------*/

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 20vh;
  opacity: 0.8;
}

.loader span {
	display: inline-block;
	margin-top:20%;
	animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span.late{

	animation-delay: 0.4s;
}

.loading-text{
  font-family: Arial;
	color:#fff;
	font-size:16px
}


@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}