body{
	margin:0;
	padding:0;
	text-align: left;
	outline:none;
	background: #edf2f6;
}

*{
	box-sizing:border-box;
}

.none{
	display:none;
}

:root {
	--topbar: #354052;
}

/* ------------- Global wrapper --------------- */

.container{
	float:left;
	width:100%;
}

/* ------------- Topbar / Sidebar --------------- */

.topbar{
	float:right;
	width:100%;
}

.topbar.top{
	height: 50px;
	background-color: #fff;
}

.topbar.bottom{
	height: 40px;
	background-color: var(--topbar);
}


.topbar .logo{
	float:left;
	height:45px;
	width:45px;
	margin-left:10px;
	margin-top:3px;
	cursor: pointer;
}


.top-buttons-container{
	float: right;
    text-align: center;
    width: 100%;
    margin-top: 12px;
}


.menu-item{
	border-bottom:1px solid #fff;
	background: transparent;
	color:#fff;
	padding:7px 10px;
}

.menu-item:hover{
	border-top:1px solid #fff;
	cursor:pointer;
}


/* ------------- Pages --------------*/

.page{
	background:#fff;
	width:100%;
	padding:20px;
	display: none;
}

.pages-container{
	width:80%;
	margin: 100px auto;
}

.page.home{
	display: block;
}

/* ------------- Loader --------------*/

.loader-wrapper{
	display: none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(70, 132, 238, 1);
	text-align: center;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 20vh;
  opacity: 0.8;
}

.loader span {
	display: inline-block;
	margin-top:20%;
	animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span.late{

	animation-delay: 0.4s;
}

.loading-text{
  	font-family: Arial;
	color:#fff;
	font-size:16px
}


@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}